body{
    background-color: rgba(233, 232, 232, 0.647);
    color: rgb(9, 3, 47);
    font-family: poppinslight;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

h1{
    font-family: poppinssemibold;
    text-align: center;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#title{
    flex-direction: column;
    line-height: 10px;
}

li{
    display: inline-block;
    margin: 20px;
}

a{
    color: black;
}

a:hover{
    color: brown;
    transition: 0.3s all;
}

#contato-btn{
    border: 2px solid brown;
    padding: 10px;
    border-radius: 15px;
}

#contato-btn:hover{
    background-color: brown;
    color: white;
}

h1{
    font-weight: 200;
}

main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

h2{
    font-size: 56px;
    line-height: 10px;
    font-family: poppinsmedium;
}

span{
    color: brown;
}

p{
    line-height: 20px;
    max-width: 500px;
    font-family: poppinslight;
}

img{
    width: 360px;
}

form{
    display: flex;
    flex-direction: column;
    width: 70%;
}

form [type="submit"]{
    height: 50px;
    width: 50%;
    background-color: brown;
    color: white;
    font-weight: bold;
}

form [type="submit"]:hover{
    cursor: pointer;
}

input{
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}